body.style5{
    width:80%;
    margin-left: 10%
}

nav.style5{
    width: 15%;
    margin-top: 10px;
    float: left;
    border: solid 2px;
    border-radius: 20px;
    position: fixed
}

#main-body.style5{
    border: solid 2px;
    border-radius: 20px;
    width: 80%;
    margin-left: 20%;
    float:left;
    overflow: hidden
}

header.style5{
    border-bottom: solid 2px;
    overflow: hidden
}

.style5 h1, .style5 h2{
    text-align: center;
    font-family: Copperplate, Helvetica, Verdana, Fantasy;
}

.style5 h1{
    font-size: 65px;
}

.style5 h2{
    font-size: 35px
}

.style5 h3{
    text-align: center;
    font-family: Copperplate, Helvetica, Verdana, Fantasy;
    font-size: 50px
}

.style5 h4{
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 15px
}

.style5.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

main.style5{
    overflow: hidden;
    font-size: 20px;
    padding-left: 10px;
    font-family: Copperplate, Helvetica, Verdana, Fantasy;
    text-align: center
}

article.style5{
    float: left;
    border-style: solid;
    border-width:  2px;
    border-radius: 5px;
    width: 30%;
    margin: 1% 1.5% 1% 1.5%;
    text-align: center;
    color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.25s;
}

article.style5 p{
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: justify;
}

article.style5 a,article.style5 button{
    font-size: 15px;
    opacity: 0;
    text-decoration-line: none;
    padding: 5px 20px 5px 20px;
    margin-bottom: 0px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px
}


article.style5:hover{
    background-image: none;
    color: black;
    transition: 0.5s;
}

article.style5 img{
    border-radius: 10px;
    width: 95%;
    opacity: 0.0;
    margin-top: 20px;
    transition: 0.1s;
}

article.style5:hover img{
    transition: 0.5s;
    opacity: 1.0
}

article.style5:hover a,article.style5:hover button{
    text-decoration-line: none;
    transition: 0.5s;
    opacity: 1.0;
    padding: 5px 20px 5px 20px;
    margin-bottom: 0px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px
}

#game1.style5:not(#game1.style5:hover){
    background-image: url("../assets/thumbnails/KuriKuri.png");
}

#game2.style5:not(#game2.style5:hover){
    background-image: url("../assets/thumbnails/Topsi.png");
}

#game3.style5:not(#game3.style5:hover){
    background-image: url("../assets/thumbnails/DESTROYRED.png");
}

#game4.style5:not(#game4.style5:hover){
    background-image: url("../assets/thumbnails/BosseBoll.png");
}

#game5.style5:not(#game5.style5:hover){
    background-image: url("../assets/thumbnails/OfEndlessCreativity.png");
}

#game6.style5:not(#game6.style5:hover){
    background-image: url("../assets/thumbnails/PrimeCut.png");
}

#game7.style5:not(#game7.style5:hover){
    background-image: url("../assets/thumbnails/Fuga.png");
}

#game8.style5:not(#game8.style5:hover){
    background-image: url("../assets/thumbnails/BulletHeaven.png");
}

#game9.style5:not(#game9.style5:hover){
    background-image: url("../assets/thumbnails/BAM.png");
}

#game10.style5:not(#game10.style5:hover){
    background-image: url("../assets/thumbnails/GarbageDay.png");
}

#game11.style5:not(#game11.style5:hover){
    background-image: url("../assets/thumbnails/ShaonjiKick.png");
}

#game12.style5:not(#game12.style5:hover){
    background-image: url("../assets/thumbnails/NoLight.png");
}

footer.style5{
    border-top: solid 2px;
    overflow: hidden
}